<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="'UTF-8">
    <title>AVP Equations</title>
</head>
<body>
    <h2></h2>
    <form action="POST" action="/">
        <label for="K_val">K value</label>
        <input type="number" id="K_val" name="K_val"><br><br>

        <label for="CDo_val">CDo value</label>
        <input type="number" id="CDo_val" name="CDo_val"><br><br>

        <label for="CL_val">CL value</label>
        <input type="number" id="CL_val" name="CL_val"><br><br>

        <button id="calculate_CD" class="button">Calculate CD</button>
    </form>
</body>
</html>