<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="'UTF-8">
    <link rel="stylesheet" href="Styles.css">
    <title>AVP Equations</title>
</head>
<body>
    <h2>Choose Which equation to use</h2>
    <form action="POST" action="/">
        <label for="equations">Choose what you want to calculate</label>
        <button id="CD_Eq" class="button">Click to calculate CD</button>
        <button id="K_Eq" class="button">Click to calculate K</button>
        <button id="CL_Eq" class="button">Click to calculate CL</button>
        <button id="V_Eq" class="button">Click to calculate Velocity</button>
    </form>
</body>
</html>